{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
<!-- Loads in the style -->
{% endblock %} {% block content %}
<div class="col-md-4 col-md-offset-4">
  <form
    method="POST"
    action="{{ url_for('main.post_update_workout', workout_id=workout.id) }}"
  >
    <h2>Update Your Workout</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <div class="form-group">
      <label for="miles">Miles</label>
      <input
        type="number"
        class="form-control"
        id="miles"
        name="miles"
        aria-describedby="distanceHelp"
        placeholder="Enter distance in miles rounded to nearest whole #"
      />
      <!-- Allows user to update a past workout distance -->
    </div>
    <div class="form-group">
      <label for="comment">Comments</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        aria-describedby="distanceHelp"
        placeholder="Update your comments here"
        value="{{ workout.comment }}"
      />
      <!-- Allows user to update comments on a past workout -->
    </div>
    <button type="submit" class="btn btn-primary">Update Workout</button>
    <!-- Button that updates the saved workout information -->
  </form>
</div>
{% endblock %}
